extends ./layout.jade
block content
  div(class="cover_wrap")
    figure
  ul(class="post_list")
    each post in blogs 
      li
        span(class="meta_trio")
          em(class="post_category")= post.category + ':'
          h3(class="post_title_h3")
            a(class="post_title" href="/blog/#{post.id}")= post.title
          em(class="post_date")= post.fday+' '  
          em(class="post_date")= post.fmonth+' '
          em(class="post_date")= post.fyear

        //- br
        p(class="post_content_preview")= post.content
